# Setup custom cluster
[mariadb]
binlog_format=row
wsrep_on=ON
wsrep_cluster_name="Galera-Cluster"
wsrep_cluster_address="gcomm://{% for host in groups['cluster'] %}{{ hostvars[host].ansible_host }}{% if not loop.last %},{% endif %}{% endfor %}"
#wsrep_node_address="{{ ansible_default_ipv4.address }}"
wsrep_node_name="{{ inventory_hostname }}"                  # Change to node2, node3, etc.
wsrep_provider = /usr/lib/libgalera_smm.so
wsrep_log_conflicts = ON